#php_value upload_max_filesize 256M
#php_value post_max_size 256M
ErrorDocument 404 /err404.php

Options -MultiViews
RewriteEngine on
RewriteRule ^page/([^/.]+)/?$ index.php?page=$1 [L]
RewriteRule ^profile/([^/.]+)/?$ profile.php?user=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php