@charset utf-8;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

/* CSS Document */
*
{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

body
{
	background-color:#E7EFF1;
	color:#333;
	min-height:100%;
}
div.wrap
{
	min-width:750px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

div.wrap a
{
	color:#404040;
}

.contentwrap
{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.title
{
	margin-top:10px;
}

.form
{
	text-align:left;
}

div.content
{
	width:100%;
	background-color:#f7f7f7;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
	padding:10px 10px 0px 10px;
	overflow-x:auto;
	overflow-y:hidden;
}
div.content a{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #404040;
	text-decoration:none;
	font-weight:800;
	font-size:18px;
}
div.content a:hover{
	color: #646464;
}
div.profile-content{
	width:100%;
	min-height:650px;
}

div.gallery
{
	width:50%;
	float:left;
}

div.info-content
{
	width:48%;
	margin-left:auto;
	margin-top:-550px;
}

li
{
	/*margin-left:15px;*/
}

img
{
	border:0;
}

img.a
{
	border:0;
}

div.banner
{
	text-align:center;
	width:1000px;
	height:200px;
}

.footer
{
	width:960px;
	height:35px;
	right:0;
	background-color:#666;
	padding:20px;
	margin-bottom:10px;
}

/*Menu*/
div.nav{
	width:100%;
	font-size:1.5em;
	min-height:40px;
	margin-left:auto;
	margin-right:0;
	text-align:right;
	background-color:#5677fc;
}

@media all and (max-width: 930px){
  div.nav{
	min-height:52px;
}
}
@media all and (max-width: 480px){
  div.nav{
	min-height:78px;
}
}
#horiz-menu, #horiz-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#horiz-menu {
	height:40px;
	float:right;
	margin-left:auto;
	margin-right:0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#horiz-menu:before,
#horiz-menu:after {
    content: "";
    display: table;
}

#horiz-menu:after {
    clear: both;
}

#horiz-menu {
    zoom:1;
}

#horiz-menu li {
    float: left;
    position: relative;
	height:50px;
	width:110px;
}

#horiz-menu a {
    float: left;
	width:inherit;
	padding-top:10px;
	height:30px;
	text-align:center;
    color: #353535;
	font-size:16px;
    text-decoration: none;
	transition: all .2s ease-in-out;	
}

#horiz-menu li:hover > a {
	background-color:#3f51b5;
	color: #e8eaf6;

}

#horiz-menu ul {
	width:110px;
    margin: -20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
	background-color:inherit;
    transition: all .2s ease-in-out;
}

#horiz-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#horiz-menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/ 
}

#horiz-menu ul li {
    float: none;
	background-color:inherit;
    display: block;
    border: 0;
	height:40px;
    _line-height: 0; /*IE6 only*/
}

#horiz-menu ul li:last-child {   
    box-shadow: none;    
}

#horiz-menu ul a {
	padding-top:10px;
	width:inherit;
	height:40px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
	background-color:#5677fc;
}

#horiz-menu ul a:hover {
    background-color:#3f51b5;
	color: #e8eaf6;

}
#horiz-menu ul li:first-child > a {
    
}

#horiz-menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
}

#horiz-menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
}

#horiz-menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
	background-color:#A70002;
}

#horiz-menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#horiz-menu ul li:last-child > a {
	
}
/* End Horizontal Nav Menu */

#menu
{
	padding:0;
	margin:0;
	display:table-row;
}
/*
.menuitem
{
	width:75px;
	height:60px;
	color:#e5e5e5;
	background-color:#fff;
	position:relative;
	padding-top:10px;
	display:block;
	margin-left:0;
	transition:all 500ms;
	vertical-align:middle;
	-webkit-transition:all 500ms;
}

.menuitem a
{
	text-decoration:none;
	color:#f5f5f5;
	display:block;
	width:100%;
	height:100%;
	transition:all 500ms;
	-webkit-transition:all 500ms;
}

.menuitem:hover
{
	width:75px;
	background-color:#f5f5f5;
/*-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 3px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 3px 3px 0px rgba(0, 0, 0, 0.75);*//*
}
.menuitem:hover a
{
	color:#525252;
}
*/
.menuitembig:hover
{
	width:75px;
	height:200px;
}

.menuitemnohover
{
	width:75px;
	height:50px;
	color:#f5f5f5;
	background-color:#111;
	overflow:hidden;
	position:relative;
	display:block;
	margin-left:0;
}

.menuitemnohover a
{
	color:#f5f5f5;
}
.menuitem span
{
	font-size:1.5em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.menuitem h3
{
	margin-top:0;
	z-index:0;
	font-size:10px;
}
.editpageform tr
{
	width:960px;
}
.list{
	margin-left:auto;
	margin-right:auto;
}
.list tr
{
	
	
}
.list tr:hover
{
	background-color:#f5f5f5;
}
.header tr:hover
{
	background-color:#f00;
}
.list td
{
	border-top: #fff solid 1px;
	padding-left:10px;
	padding-right:10px;
}
.list th
{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.editselected
{
	background-color:maroon;
}

.text
{
	background-color:#666;
	border:2px solid #222;
	border-radius:4px;
	color:#FFF;
	padding:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-box-shadow:inset 0 10px 10px -10px #000;
	-webkit-box-shadow:inset 0 10px 10px -10px #000;
	box-shadow:inset 0 10px 10px -10px #000;
}

.text a:
{
	border:1px solid red;
}

tr.heading,td.heading,th.heading
{
	background:#000;
}

h1
{
	font-size:2.5em;
	color:#404040;
}

div.profile
{
	background-color:#404040;
	width:250px;
	height:250px;
	padding:20px;
	-moz-box-shadow:inset 0 0 10px #000;
	-webkit-box-shadow:inset 0 0 10px #000;
	box-shadow:inset 0 0 10px #000;
}
/*
#nav
{
	position:relative;
	right:-5%;
	padding:0;
	margin:0 auto;
	text-align:center;
}

#nav .clear
{
	clear:both;
}

#nav ul
{
	padding:0 0 0 5px;
	margin:0;
	list-style:none;
	margin:0 auto;
	text-align:left;
	width:100%;
}

#nav li
{
	float:left;
	margin:5px 10px 5px 0;
	text-align:center;
}
*/
ul
{
/*list-style-position:inside;*/
}

.clear
{
	clear:both;
}

.photo-link
{
	margin:10px;
	display:block;
	width:auto;
	float:left;
	background-color:#404040;
	border-radius:5px;
}

.photo-link:hover
{
	background-color:#666;
}

b
{
	font-weight:bolder;
}

h3.error
{
	text-align:center;
	color:#D8000C;
	border:2px solid #D8000C;
	background:#FFBABA;
	min-height:20px;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
	padding:20px;
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	-webkit-animation-name: shake;
  animation-name: shake;
}

h3.success
{
	text-align:center;
	color:#4F8A10;
	border:2px solid #4F8A10;
	background:#DFF2BF;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
	padding:20px;
}
h3.message
{
	text-align:center;
	color:#000000;
	border:2px solid #835900;
	background:#E38D00;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
	padding:20px;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=file],
input[type=password]
{
	height:25px;
	padding:5px;
	margin:10px;
	background:#E0E0E0;
	border:0px solid #e4e4e4;
	outline:none;
	box-shadow:inset 0 2px 4px 0 rgba(0,0,0,.04);
}
input[type="text"]:disabled{
	background-color:#D0D0D0;
}
form input[type=textarea]
{
	width:100%;
	height:20px;
	margin-bottom:10px;
	background:#E0E0E0;
	border:none;
	outline:none;
}
textarea{
	background-color:#E0E0E0;	
}
option
{
	height:25px;
	padding:5px;
	background:#E0E0E0;
	border:0px solid #e4e4e4;
	outline:none;
}

select 
{
	height:25px;
	padding:0 5px 5px 5px;
	background:#E0E0E0;
	margin:10px;
	border:0px solid #e4e4e4;
	outline:none;
}
/* buttons */
.button,input[type=submit] {
		border: none;
		display: block;
		color: #ffffff !important;
		font-size:12px !important;
		font-style:normal!important;
	font-weight:bold!important;
		font-family: 'Roboto', sans-serif !important;
		text-align: center;
		/*border-radius: 5px;*/
		/*box-shadow: 0px 3px 1px #2075aa;*/
		-webkit-transition: all 0.15s linear;
		-moz-transition: all 0.15s linear;
		transition: all 0.15s linear;
		right:auto;
		left:auto;
		height:40px;
		line-height:40px;
		min-width:100px;
		padding: 0 3px 0 3px;

	}
	.red {background-color:#e94043 !important;}
	.blue {background-color:#426FC5 !important;}
	.green {background-color:#00897b !important;}
	input[type=submit]{background-color:#426FC5;}
	.red:hover {
	  background: #c41411 !important;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}
	.blue:hover {
	  background: #3b50ce !important;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}
	.green:hover {
	  background: #056f00 !important;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}
	input[type=submit]:hover {
	  background: #3b50ce;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}


/* 
::-webkit-scrollbar {
	width: 12px;
	height:12px;
}

::-webkit-scrollbar-track {
	background: #5677fc;
}
 ::-webkit-scrollbar-thumb{
			background-color:#999;
		}
*/
#sticker {
	width:100%;
	background-color:#f7f7f7;
	-webkit-border-radius:2px;
	border-radius:2px;
	transition:all 200ms;
	-webkit-transition:all 200ms;

}
#sticker tr td{
	padding:1px;
}
.stick {
	margin-right:auto;
	z-index:2;
    position:fixed;
    top:0px;
	left:0;
	background-color:#f7f7f7;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-border-radius:2px;
	border-radius:2px;

}
hr {
  border-top: 1px dotted #f00;
  color: #fff;
  background-color: #fff;
  height: 1px;
}
span.tooltips {
  position: relative;
  display:inline;
}
span.tooltips span {
  position: absolute;
  width:auto;
  min-width:250px;
  padding-right:5px;
  padding-left:5px;
  padding-top:2px;
  padding-bottom:2px;
  color: #FFFFFF;
  background: #000000;/* The Fallback */;
  background: rgba(0, 0, 0, 0.75);
  height: auto;
  line-height: 25px;
  text-align: center;
  visibility: hidden;
  border-radius: 3px;
}
span.tooltips span:after {
  content: '';
  position: absolute;
  top: 0%;
  right: 100%;
  margin-top: 8px;
  width: 0; height: 0;
  border-right: 8px solid rgba(0, 0, 0, 0.75);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
span:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -18px;
  margin-left: 15px;
  z-index: 999;
}
#ranks ul{
	list-style:none;
	}
#ranks li{
	list-style:none;
	
	}
	#ranks table{
	width:200px;
	
	}
#ranks li p{
	background-color:#f00;
	height:100px;
	width:200px;
	font-size:36px;
	font-weight:700;
	text-align:center;
	line-height: 100px;
	
}
span.galleryImage {
    display: inline-block;
    position: relative;
    border: 0px solid #f90;
}

span.galleryImage input[type=checkbox] {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

span.galleryImage:hover input[type=checkbox],
span.galleryImage input[type=checkbox]:checked {
    top: 5%;
    left: 5%;
    opacity: 1;
    height:50%;
    width:50%;
    -webkit-transition: all 0.5s ease-in-out;
}