@charset utf-8;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

/* CSS Document */
*
{
	margin:0;
	padding:0;
}
html{
	overflow-y: scroll;
	
}
html, body {
	height:100%;
	
	
}
body
{
	background-color:#ececec;
	color:#333;
	min-height:100%;
}
.button-collapse{
	font-size:42px;
	margin-left:15px;
}
.overlay{
	position:absolute;
	top: 0;
  left: 0;
	width:100%;
	height:100%;
	background-size:cover;
	background-image:url(../images/overlay.png);
	background-repeat:repeat;
	z-index:100;
}
.dialog{
	position:fixed;
	top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -25%;
	height:200px;
	width:50%;
	background-color:#ececec;	
}
div.wrap
{
	/*min-width:775px;*/
	min-height:100%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
/*
div.wrap a
{
	color:#404040;
}
*/
.contentwrap
{

	width:100%;
}

.title
{
	margin-top:20px;
}
.title span
{
	color:#e74c3c;
}

.form
{
	text-align:left;
}

div.content
{
	width:100%;
	background-color:#ececec;
	-webkit-border-radius:2px;
	border-radius:2px;
	padding:10px 10px 20px 10px;


}
@media only screen and (min-width: 993px) {
  #content-card {
    margin-right:90px;
  }
}
/*
div.content a{
	color: #404040;
	text-decoration:none;
	font-weight:800;
	font-size:18px;
}
div.content a:hover{
	color: #646464;
}*/
div.content h1{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:-10px;
	margin-right:-10px;
	background-color:#e74c3c;
	text-align:center;
}
/*div.content h1:nth-of-type(1){
	margin-top:-10px;
}*/
div.content h2{
	font-size: 1.5em;
}
div.profile-content{
	width:100%;
	min-height:650px;
}

div.gallery
{
	width:50%;
	float:left;
}

div.info-content
{
	width:48%;
	margin-left:auto;
	margin-top:-550px;
}

li
{
	/*margin-left:15px;*/
}
div.banner
{
	text-align:center;
	width:1000px;
	height:200px;
}

#footer
{
	width:100%;
	height:30px;
	line-height:30px;
	background-color:#ececec;
	color:#333;
	/*position:absolute;*/
	bottom: 0;
	left: 0;
}

#footer a{
	color:#333;	
}
.logo{
	height:168px;
}
/*Menu*/
div.nav{
	width:90%;
	padding-right:10px;
	padding-left:10px;
	font-size:1em;
	min-height:30px;
	margin: 0 auto;
	vertical-align: middle;
	text-align:right;
	background-color:#e74c3c;
	position:fixed;
	top:0;
	left:50%;
	margin-left:-45%;
	margin-bottom:20px;
	z-index:3;
	line-height:30px;
		-webkit-border-radius:2px;
	border-radius:2px;
}
#horiz-menu, #horiz-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#horiz-menu {
	height:30px;
	float:right;
	margin-left:auto;
	margin-right:0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#horiz-menu:before,
#horiz-menu:after {
    content: "";
    display: table;
}

#horiz-menu:after {
    clear: both;
}

#horiz-menu {
    zoom:1;
}

#horiz-menu li {
    float: left;
    position: relative;
	height:30px;
	width:110px;
}

#horiz-menu a {
    float: left;
	width:inherit;
	/*padding-top:10px;
	font-size:16px;*/
	height:30px;
	text-align:center;
    color: #fff;
    text-decoration: none;
	transition: all .2s ease-in-out;	
}

#horiz-menu li:hover > a {
	background-color:#c0392b;
	color: #e8eaf6;

}

#horiz-menu ul {
	width:110px;
    margin: -30px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
	background-color:inherit;
    transition: all .2s ease-in-out;
	
}
#horiz-menu ul.active{
    opacity: 1;
    visibility: visible;
    margin: 0;
}
#horiz-menu ul ul {
	border-top:#333 solid 3px;
    top: 30px;
    left: 0px;
    margin: -30px 0 0 0;
    _margin: 0; /*IE6 only*/ 
	/*transition: all .2s ease-in-out;*/
}

#horiz-menu ul li {
    float: none;
	background-color:inherit;
    display: block;
    border: 0;
	height:30px;
    _line-height: 0; /*IE6 only*/
}

#horiz-menu ul li:last-child {   
    box-shadow: none;    
}

#horiz-menu ul a {
	/*padding-top:10px;*/
	width:inherit;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
	background-color:#e74c3c;
}

#horiz-menu ul a:hover {
    background-color:#c0392b;
	color: #e8eaf6;

}

#horiz-menu ul li:first-child > a {
    
}

#horiz-menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -6px;
}

#horiz-menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
	margin-left:-30px; 
}

#horiz-menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
	background-color:#A70002;
}

#horiz-menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;  
}

#horiz-menu ul li:last-child > a {
	height:30px;
}
/* End Horizontal Nav Menu */

#menu
{
	padding:0;
	margin:0;
	top:120px;
	position:fixed;
	display:table-row;
	-webkit-border-radius:2px;
	border-radius:2px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#E74C3C;
}

.menuitem
{
	width:55px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#e5e5e5;
	background-color:#E74C3C;
	position:relative;
	display:block;
	transition:all 500ms;
	vertical-align:middle;
	-webkit-transition:all 500ms;
}

.menuitem a
{
	text-decoration:none;
	color:#f5f5f5;
	display:block;
	width:100%;
	height:100%;
	transition:all 500ms;
	-webkit-transition:all 500ms;
}

.menuitem:hover
{
	width:55px;
	background-color:#E74C3C;
}
.menuitem:hover a
{
	color:#525252;
}
.menuitembig:hover
{
	width:75px;
	height:200px;
}

.menuitemnohover
{
	width:75px;
	height:50px;
	color:#f5f5f5;
	background-color:#111;
	overflow:hidden;
	position:relative;
	display:block;
	margin-left:0;
}

.menuitemnohover a
{
	color:#f5f5f5;
}
.menuitem span
{
	font-size:1em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.menuitem h3
{
	margin-top:0;
	z-index:0;
	font-size:10px;
}
.editpageform tr
{
	width:960px;
}
.list{
	margin-left:auto;
	margin-right:auto;
}
.list tr
{
	
	
}
.list tr:hover
{
	background-color:#f5f5f5;
}
.header tr:hover
{
	background-color:#f00;
}
.list td
{
	border-top: #fff solid 1px;
	padding-left:10px;
	padding-right:10px;
}
.list th
{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.editselected
{
	background-color:maroon;
}

.text
{
	background-color:#666;
	border:2px solid #222;
	border-radius:4px;
	color:#FFF;
	padding:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-box-shadow:inset 0 10px 10px -10px #000;
	-webkit-box-shadow:inset 0 10px 10px -10px #000;
	box-shadow:inset 0 10px 10px -10px #000;
}

.text a:
{
	border:1px solid red;
}

tr.heading,td.heading,th.heading
{
	background:#000;
}

h1
{
	font-size:2.5em;
	color:#fff;
	padding: 5px;
}

div.profile
{
	background-color:#404040;
	width:250px;
	height:250px;
	padding:20px;
	-moz-box-shadow:inset 0 0 10px #000;
	-webkit-box-shadow:inset 0 0 10px #000;
	box-shadow:inset 0 0 10px #000;
}
/*
#nav
{
	position:relative;
	right:-5%;
	padding:0;
	margin:0 auto;
	text-align:center;
}

#nav .clear
{
	clear:both;
}

#nav ul
{
	padding:0 0 0 5px;
	margin:0;
	list-style:none;
	margin:0 auto;
	text-align:left;
	width:100%;
}

#nav li
{
	float:left;
	margin:5px 10px 5px 0;
	text-align:center;
}
*/
ul
{
/*list-style-position:inside;*/
}

.clear
{
	clear:both;
}

.photo-link
{
	margin:10px;
	display:block;
	width:auto;
	float:left;
	background-color:#404040;
	border-radius:5px;
}

.photo-link:hover
{
	background-color:#666;
}

b
{
	font-weight:bolder;
}

h3.error
{
	text-align:center;
	color:#D8000C;
	border:2px solid #D8000C;
	background:#FFBABA;
	min-height:20px;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:20px;
	border-radius:10px;
	padding:20px;
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	-webkit-animation-name: shake;
  animation-name: shake;
}

h3.success
{
	text-align:center;
	color:#4F8A10;
	border:2px solid #4F8A10;
	background:#DFF2BF;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:20px;
	border-radius:10px;
	padding:20px;
}
h3.message
{
	text-align:center;
	color:#000000;
	border:2px solid #835900;
	background:#E38D00;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:20px;
	border-radius:10px;
	padding:20px;
}

.error-block{
	display:inline;
	border-radius:5px;
	background-color:#9F0002;
	color:#FFFFFF;
	padding:3px;
	font-size:16px;
}
#Facebook:focus{border-bottom: 1px solid #3B5998 !important; box-shadow:0 1px 0 0 #3B5998 !important; color:#3B5998 !important;}
label#Facebook{color:#3B5998 !important;}
#Facebook.switch label input[type=checkbox]:checked + .lever,#Facebook.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #3B5998;
}
#Twitter:focus{border-bottom:1px solid #55acee !important; box-shadow:0 1px 0 0 #55acee !important;}
label#Twitter{color:#55acee !important;}
#Twitter.switch label input[type=checkbox]:checked + .lever,#Twitter.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #55acee;
}
#GooglePlus:focus{border-bottom:1px solid #dd4b39 !important; box-shadow:0 1px 0 0 #dd4b39 !important;}
label#GooglePlus{color:#dd4b39 !important;}
#GooglePlus.switch label input[type=checkbox]:checked + .lever,#GooglePlus.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #dd4b39;
}
#Instagram:focus{border-bottom:1px solid #125688 !important; box-shadow:0 1px 0 0 #125688 !important;}
label#Instagram{color:#125688 !important;}
#Instagram.switch label input[type=checkbox]:checked + .lever,#Instagram.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #125688;
}
#LinkedIn:focus{border-bottom:1px solid #007bb5 !important; box-shadow:0 1px 0 0 #007bb5 !important;}
label#LinkedIn{color:#007bb5 !important;}
#LinkedIn.switch label input[type=checkbox]:checked + .lever,#LinkedIn.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #007bb5;
}
/*
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=file],
input[type=password]
{
	height:25px;
	padding:5px;
	margin:10px;
	background:#E0E0E0;
	border:0px solid #e4e4e4;
	outline:none;
	box-shadow:inset 0 2px 4px 0 rgba(0,0,0,.04);
	width: auto;
}
input[type="text"]:disabled{
	background-color:#D0D0D0;
}
form input[type=textarea]
{
	width:100%;
	height:20px;
	margin-bottom:10px;
	background:#E0E0E0;
	border:none;
	outline:none;
}
textarea{
	background-color:#E0E0E0;	
}
option
{
	height:25px;
	padding:5px;
	background:#E0E0E0;
	border:0px solid #e4e4e4;
	outline:none;
}

select 
{
	height:25px;
	padding:0 5px 5px 5px;
	background:#E0E0E0;
	margin:10px;
	border:0px solid #e4e4e4;
	outline:none;
}
*/
/*Color Editor*/
.connected{
	display:block;
	min-width:150px;
	min-height:40px;
}
.connected li {
	list-style: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 22px;
	cursor: move;
	box-sizing: content-box;
}
.connected li:hover {
    background: #D2D2D2;
}
#connected .card{
	float:left;
	width:200px;
	height:auto;
	overflow: visible;	
	margin:10px;
}
#connected .card input[type=text], #connected .card input[type=text]{
/*	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;*/
	padding: 0;
	margin: 0;
	width:200px;
	height: 45px;
	text-align:center;
}
#connected .card-color-delete{
/*	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;*/
	width:100%;
	height: 45px;
	line-height: 45px;
	text-align:center;
	border: 0;
	background:#E74C3C;
	border-radius:0px;
}
#connected .card-color-body{
	margin: 0;
	width: 100%;
}
#connected .card-color-body input[type=text]{
/*	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;*/
	margin: 0;
	padding: 0;
	text-align:center;
	background-color: #FFF;
}
#connected div p{
	text-align:center;
}
li.ui-sortable-placeholder {
	border: 1px dashed #666;
	border-radius: 3px;
	background-color: #BBBBBB;
    visibility: visible !important;
}
.colorSelector{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
/*End Color Editor*/


/* buttons */
/*
.button,  a.blue, a.red, a.green{
display: block;
}
.button,input[type=submit], a.blue, a.red, a.green {
		border: none;
		color: #ffffff !important;
		font-size:12px !important;
		font-style:normal!important;
	font-weight:bold!important;
		font-family: 'Roboto', sans-serif !important;
		text-align: center;
		-webkit-transition: all 0.15s linear;
		-moz-transition: all 0.15s linear;
		transition: all 0.15s linear;
		right:auto;
		left:auto;
		height:40px;
		line-height:40px;
		min-width:100px;
		padding: 0 3px 0 3px;

	}
	
	.red {background-color:#C42F27 !important;}
	.blue {background-color:#426FC5 !important;}
	.green {background-color:#e74c3c !important;}
	input[type=submit]{background-color:#426FC5;}
	.red:hover {
	  background: #760600 !important;
	}
	.blue:hover {
	  background: #3b50ce !important;
	}
	.green:hover {
	  background: #c0392b !important;
	}
	input[type=submit]:hover {
	  background: #3b50ce;
	}

::-webkit-scrollbar {
	width: 12px;
	height:12px;
}

::-webkit-scrollbar-track {
	background: #e74c3c;
}
 ::-webkit-scrollbar-thumb{
			background-color:#999;
		}
*/
#sticker {
	background-color:#ececec;
	transition:all 200ms;
	-webkit-transition:all 200ms;
	}

.stick {
	z-index:3;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
	background-color:#333 !important;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
	padding:2px;
	padding-left: 240px;
	
}
.stick #mid{
    width:90%;
}
hr {
  border-top: 1px dotted #f00;
  color: #fff;
  background-color: #fff;
  height: 1px;
}
span.tooltips {
  position: relative;
  display:inline;
}
span.tooltips span {
  position: absolute;
  width:auto;
  min-width:250px;
  padding-right:5px;
  padding-left:5px;
  padding-top:2px;
  padding-bottom:2px;
  color: #FFFFFF;
  background: #000000;/* The Fallback */;
  background: rgba(0, 0, 0, 0.75);
  height: auto;
  line-height: 25px;
  text-align: center;
  visibility: hidden;
  border-radius: 3px;
}
span.tooltips span:after {
  content: '';
  position: absolute;
  top: 0%;
  right: 100%;
  margin-top: 8px;
  width: 0; height: 0;
  border-right: 8px solid rgba(0, 0, 0, 0.75);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
span:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -18px;
  margin-left: 15px;
  z-index: 999;
}
div.rank-block{
	margin:5px;
	padding:10px;
	display:block;
	width:200px;
	/*height:200px;*/
	float:left;
	background-color:#D7D7D7;
	border-radius:5px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	transition:all;
	transition-duration:0.2s;
}
#ranks ul{
	list-style:none;
	}
#ranks li{
	list-style:none;
	
	}
	#ranks table{
	width:200px;
	
	}
#ranks li p{
	background-color:#f00;
	height:100px;
	width:200px;
	font-size:36px;
	font-weight:700;
	text-align:center;
	line-height: 100px;
	
}
span.galleryImage {
    display: inline-block;
    position: relative;
    border: 0px solid #f90;
}

span.galleryImage input[type=checkbox] {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

span.galleryImage:hover input[type=checkbox],
span.galleryImage input[type=checkbox]:checked {
    top: 5%;
    left: 5%;
    opacity: 1;
    height:50%;
    width:50%;
    -webkit-transition: all 0.5s ease-in-out;
}span.galleryImage {
    display: inline-block;
    position: relative;
    border: 0px solid #f90;
}

span.galleryImage input[type=checkbox] {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

span.galleryImage:hover input[type=checkbox],
span.galleryImage input[type=checkbox]:checked {
    top: 5%;
    left: 5%;
    opacity: 1;
    height:40%;
    width:40%;
    -webkit-transition: all 0.5s ease-in-out;
}

