@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	font-family:'Roboto', Arial, Helvetica, sans-serif;
	text-shadow: 0 0 1px rgba(51,51,51,0.2);
	/*font-size: 1em;*/
}
html, body{
/*overflow-y: auto;*/
background-color: transparent;
height:100%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 1023px) {
	.nav, #vert-td{
		min-height:159px;
		display:none!important;
	}

	#logo, #socnet, #login-status{
		display:none!important;
	}

	#footer-content{
		width:100%!important;
	}

	.header{
		height:auto !important;
	}

	.blog-profile-pic{
		visibility: hidden;
		height: 0;
		width: 0;
	}

	#contentwrap{
	/*padding-top:0px!important;*/
	}

	span.del-blog-comment{
		visibility: visible;
		cursor: pointer;
	}
	span.galleryImage div.galleryEditBtn, span.galleryImage div.galleryItemDrag{
		visibility: visible;
		right: 0;
	}

	span.galleryImage input[type=checkbox],
	span.galleryImage input[type=checkbox]:checked {
	    top: 5%;
	    left: 5%;
	    opacity: 1;
	    height:40%;
	    width:40%;
	    visibility: visible;
	    -webkit-transition: all 0.3s ease-in-out;
	}

	.calendar_section .calendar_section{ width:219px;}
	.calendar_section .calendar_section_top ul li{ width:30px; font-size:11px;}
	.calendar_section .calendar_section_bot ul li{ width:30px;}
	.calendar_section .calendar_section_bot{ width:217px;}
	.calendar_section .calendar_section_bot ul li{ height:50px;}
	li.date_cell div.cal-edit-btn{
		visibility: visible;
		right:0;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */
	.mobile{
		display:none!important;
	}
	.headericon{
		display:none!important;
	}
	.blog-comments li:hover span.del-blog-comment{
		visibility: visible;
	}
	span.del-blog-comment{
		visibility: hidden;
		cursor: pointer;
	}
	span.galleryImage:hover div.galleryEditBtn, span.galleryImage:hover div.galleryItemDrag{
		visibility: visible;
		right:0;
	}

	span.galleryImage:hover input[type=checkbox],
	span.galleryImage input[type=checkbox]:checked {
	    top: 5%;
	    left: 5%;
	    opacity: 1;
	    height:40%;
	    width:40%;
	    visibility: visible;
	    -webkit-transition: all 0.3s ease-in-out;
	}
	.calendar_section .calendar_section{ width:530px;}
	.calendar_section .calendar_section_top ul li{ width:74px;}
	.calendar_section .calendar_section_bot ul li{ width:74px;}
	.calendar_section .calendar_section_bot{ width:525px;}
	.calendar_section .calendar_section_bot ul li{ height:50px;}
	.date_cell:hover div.cal-edit-btn{
			visibility: visible !important;
			right:0 !important;
	}
}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
}
/* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}
/* Mobile Menu Styles */

.side-nav hr{
	margin-top: 10px;
	margin-bottom: 10px;
}

.mobile-login{
	font-size: 1rem;
	line-height: 0.5rem;
	height: 260px;
}
.mobile-login a{
	font-size: 1.25rem;
	margin: 0;
}
.mobile-login li{
	height: 45px;
	vertical-align: center;
}
.mobile-login span.mobile-login-username{
	display: block;
	height: auto;
	line-height: 2rem;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	width: 100%;
}
/*.mobile-logo{
	display: block;
	margin: 0 auto;
}*/
.brand-logo img{
	height:60px;
	padding:1.5px;
}
.brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}
/* End Mobile Menu Styles */

body{
	overflow-x: hidden;
	margin:0;
   padding:0;
   height:100%;
}
#wrapper{
	width:100%;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;
}
/*
#wrapper a{
	color:#FFF;
}
*/
#contentwrap{
	width:90%;
	max-width:1880px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
	min-height:376px;
	/*color:#CCC;*/
	padding-bottom:220px;
	padding-top:100px;
}
#content .custom{
	padding: 10px;
	overflow-x: auto;
}
.header{
	max-width:1880px;
	width:100%; 
	height:100px; 
	margin-left:auto; 
	margin-right:auto;
}
#footer{
	padding:20px;
}
#footerwrap{
	width:100%;
	/*height:200px;*/
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	padding-bottom: 15px;
}
#footer-content{
	/*width:100%;*/
	float:left;
}

/*h1{
	padding:10px;
	text-align:center;
	font-style: italic;
	margin-bottom:10px;
}
h2{
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;s
	text-align:center;
}*/
h1 {
	font-size: 3em;
	text-align: center;
}
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
div.profile-content{
	width:100%;
	min-height:650px;
}
div.gallery{
	width:50%;
	float:left;
}
div.info-content{
	width:48%;
	margin-left: auto;
	margin-top: -550px;
}
li{
	/*margin-left:15px;*/
}
img{
	border:0;	
}
img.a{
	border:0;
}
.nav{
	font-size:0.75em;
	min-height:50px;
	position: fixed;
    top:0;
    left:0;
    right:0;
    margin:auto;
    z-index: 999;
}
/* nav large */
.nav.large {
	width:100%;
	height: 75px;
}
.nav.large img {
	height: 70px;
	padding: 2.5px;
}
.nav.large #horiz-menu a {
	height:75px;
	line-height:4.5rem;
	font-size:1.2rem;

} 
.nav.large #horiz-menu li {
	height:75px;

} 
.nav.large #horiz-menu ul li {
	height:75px;
}	
.nav.large  #horiz-menu ul {
    top: 75px;
}

/* navsmall */

.nav.small {
	width:90%;
	height: 50px;
}
.nav.small img {
	height: 45px;
	padding: 2.5px;
}
.nav.small #horiz-menu a {
	height:50px;
	line-height:3rem;

}  
.nav.small #horiz-menu li {
	height:50px;

}  
.nav.small #horiz-menu ul li {	
	height:50px;
}
.nav.small  #horiz-menu ul {
    top: 50px;
}

/* Transitions */

.nav, .nav a, .nav img, .nav li {
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}
.button-collapse{
	font-size:42px;
	margin-left:15px;
}
.mobile{
	width:100%;
	height:auto;
	position:fixed;
	background-color:#FFFFFF;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	z-index:100;
}
.icon{
	/*color:#5F5F5F;*/
}
.icon-facebook2:hover{
	color:#3b5998;
}
.icon-googleplus3:hover{
	color:#dd4b39;
}
.icon-twitter2:hover{
	color:#00aced;
}
.icon-instagram:hover{
	color:#517fa4;
}
.icon-linkedin:hover{
	color:#007bb6;
}
/* Horizontal Nav Menu */
#horiz-menu, #horiz-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#horiz-menu {
    width: 95%;
	height:50px;
	/*max-width:1880px;*/
	margin-left:auto;
	/*margin-right:auto;*/
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#horiz-menu:before,
#horiz-menu:after {
    content: "";
    display: table;
}

#horiz-menu:after {
    clear: both;
}

#horiz-menu {
    zoom:1;
}

#horiz-menu li {
    float: left;
    position: relative;
}

#horiz-menu a {
    float: left;
	text-align:center;
	font-size:1rem;
	line-height:2rem;
    text-decoration: none;
	transition: all .2s ease-in-out;
	width:100%;
}
/*
#horiz-menu li:hover > a {
	-webkit-box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 4px 0px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 4px 0px 0px rgba(50, 50, 50, 0.75);
}
*/

#horiz-menu ul {
    margin: -20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    transition: all .2s ease-in-out;
}

#horiz-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#horiz-menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/ 
}

#horiz-menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
}

#horiz-menu ul li:last-child {   
    box-shadow: none;    
}

#horiz-menu ul a {
	width:inherit;
	height:50px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#horiz-menu ul a:hover {
    
}
#horiz-menu ul li:first-child > a {
    
}

#horiz-menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
}

#horiz-menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
}

#horiz-menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
	background-color:#A70002;
}

#horiz-menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#horiz-menu ul li:last-child > a {
	
}
/* End Horizontal Nav Menu */

/* Vert Nav Menu */
#vert-menu, #vert-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#vert-menu {
    width: 100%;
	height:50px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	zoom:1;
}

#vert-menu:before,
#vert-menu:after {
    content: "";
    display: table;
}

#vert-menu:after {
    clear: both;
}

#vert-menu li {
    position: relative;
	height:50px;
}

#vert-menu a {
    float: left;
	padding-top:10px;
	height:40px;
	text-align:center;
	font-size:1.5rem;
	line-height:1.5rem;
    text-decoration: none;
	transition: all .2s ease-in-out;
	width:100%;
}
/*
#vert-menu li:hover > a {
	-webkit-box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 0px 4px 0px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         inset 0px 4px 0px 0px rgba(50, 50, 50, 0.75);
}
*/
#vert-menu ul {
    margin:0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    margin-left: 100%;
    transition: all .2s ease-in-out;
}

#vert-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    left: 0;
}

#vert-menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/ 
}

#vert-menu ul li {
    float: none;
    display: block;
    border: 0;
	height:50px;
    _line-height: 0; /*IE6 only*/
}

#vert-menu ul li:last-child {   
    box-shadow: none;    
}

#vert-menu ul a {
	padding-top:10px;
	width:inherit;
	height:40px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#vert-menu ul a:hover {
    background-color:#A70002;
}
#vert-menu ul li:first-child > a {
    
}

#vert-menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
}

#vert-menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
}

#vert-menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
	background-color:#A70002;
}

#vert-menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;
}

#vert-menu ul li:last-child > a {
	
}
/* End Vert Nav Menu */

#content option{
	background-color:#666666;
	border:2px solid #222222;
	color:#FFF;
	padding:5px;
	}
#content select{
	background-color:#666666;
	border:2px solid #222222;
	color:#FFF;
	padding:5px;
}
.editpageform tr{
	width:960px;
}
.pagelist tr{
	background-color:#888;
}
.editselected{
	background-color:#800000;
}
/*
.text{
	height:25px;
	padding:5px;
	margin:10px;
	background:#E0E0E0;
	color:#111;
	outline:none;
	font-size:18px;
}

.text a:{
	border:1px solid #FF0000;
}
*/
::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;   
}

:-ms-input-placeholder {  
   color: #333; 
}/*
tr.heading,td.heading,th.heading{
	font-size:1.25em;
	padding:3px;
}
div.h1{
	text-align:center;
	font-size: xx-large;
	font-weight: bold;
	width:auto;
	font-style:italic;
}*/
div.profile{
	background-color:#999999;
	width:250px;
	height:250px;
	padding:20px;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}
div#profile-picture{
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	padding: 10px;
	border-radius: 5px;
}
div.staffBlock{
	margin:10px;
	padding:10px;
	display:block;
	width:200px;
	height:150px;
	float:left;
	background-color:#404040;
	border-radius:5px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	transition:all;
	transition-duration:0.2s;
}
div.staffBlock:hover{
	background-color:#666666;
}
div.staffBlock span:nth-child(1){
	display:block;
	margin-bottom:5px;
	width:100%;
	height:120px;
	line-height:120px;
	vertical-align:middle;
}
div.staffBlock span:nth-child(2){
	display:block;
	width:100%;
	height:30px;
}
#nav{position: relative; right:-5%; padding:0; margin:0px auto; text-align:center;}
#nav .clear{clear:both;}
#nav ul{padding:0 0 0 5px; margin:0; list-style:none; margin:0px auto; text-align:left; width:100%;}
#nav li{ float: left; margin:5px 10px 5px 0; text-align:center;}
ul{
	/*list-style-position:inside;*/
}
.clear{
	clear:both;
}
.photo-link{
    margin:2px;
    display:block;
    width:auto;
    float:left;
}
.photo-link:hover{
}

span.tooltips {
  position: relative;
  display:inline;
}
span.tooltips span {
  position: absolute;
  width:auto;
  white-space:nowrap;
  padding-right:5px;
  padding-left:5px;
  padding-top:2px;
  padding-bottom:2px;
  color: #FFFFFF;
  background: #000000;/* The Fallback */;
  background: rgba(0, 0, 0, 0.75);
  height: auto;
  line-height: 25px;
  text-align: center;
  visibility: hidden;
  border-radius: 3px;
}
span.tooltips span:after {
  content: '';
  position: absolute;
  top: 0%;
  right: 100%;
  margin-top: 8px;
  width: 0; height: 0;
  border-right: 8px solid rgba(0, 0, 0, 0.75);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
span:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -12px;
  margin-left: 10px;
  z-index: 999;
}

span.galleryImage {
    display: inline-block;
    position: relative;
    border: 0px solid #f90;
    overflow: hidden;
}

div.galleryEditBtn{
	height: 30px;
	width: 30px;
	position: absolute;
	float: left;
	bottom: 0;
	right: -32px;
	border-top-left-radius: 5px;
	background-color: #FFFFFF;
	color: #0091C7;
	font-size: 20px;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
}

div.galleryItemDrag{
	height: 32px;
	width: 32px;
	position: absolute;
	float: left;
	top: 0;
	right: -32px;
	border-bottom-left-radius: 5px;
	background: url(../images/icon-drag24.png) no-repeat center center #FFFFFF;
	color: #0091C7;
	font-size: 20px;
	cursor: move;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
}

span.galleryImage input[type=checkbox] {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

input.button{
	background-color:#666666;
	border:2px solid #222222;
	border-radius: 4px;
	color:#FFF;
	padding:5px;
}
input.button:hover{
	background-color:#999999;
}
div.fbbutton{
	background-image:url(../images/facebook_icon.png);
	background-position: 0px, 0px;
	width:48px;
	height:48px;
	position:absolute;
	right:10px;
}
div.fbbutton:hover{
		background-position: 48px, 0px;
}
/*Forum table induvidual cells
	table.forum-table{
		border:2px solid #666666;
	 
	}
	tr.info-table:nth-child(even){
		background-color:#666666;
	}
	tr.info-table:nth-child(odd){
		background-color:#555555;
	}
	td.info-tabledata{
		padding-left:5px;
	}
	Table forum rows
	tr.forum-title{
		background-color:#131313;
	 
	}
	tr.forum-topic{
		font-size:0.750rem;
		color:#666666;
	}
	tr.forum-topic:nth-child(even){
		background-color:#CCC;
	}
	tr.forum-topic:nth-child(odd){
		background-color:#B7B7B7;
	}
	tr.forum-topic a{
		font-size:0.750rem;
		color:#333333;
		text-decoration:none;
		font-weight:bold;
	 
	}
	tr.forum-topic:hover{
		background-color:#eee;
	 
	}
	Forum table induvidual cells
	td.forum-table-cell-title{
		padding-left:15px;
		height:30px;
		font-size:1.125rem;
	}
	td.forum-table-cell-topic{
		padding-left:1em;
		height:70px;
		border-bottom:1px solid #111111;
	}
	b{
		font-weight:bolder;
	}
	.forumbody{
		padding:	5px;
	}
	.forumfooter{
		padding:	5px;
	}
	*/
h3.error
{
	text-align:center;
	color:#D8000C;
	border:2px solid #D8000C;
	background:#FFBABA;
	min-height:20px;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
	padding:20px;
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	-webkit-animation-name: shake;
  animation-name: shake;
}

h3.success
{
	text-align:center;
	color:#4F8A10;
	border:2px solid #4F8A10;
	background:#DFF2BF;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
	padding:20px;
}
h3.message
{
	text-align:center;
	color:#000000;
	border:2px solid #835900;
	background:#E38D00;
	line-height:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
	padding:20px;
}

.error-block{
	display:inline;
	border-radius:5px;
	background-color:#9F0002;
	color:#FFFFFF;
	padding:3px;
	font-size:16px;
}
/*Blog*/
.title{
	padding:5px;
	padding-left: 10px;
	font-weight:900;
}
.title a{
	text-decoration:none;

}
.title a:hover{
	text-decoration:underline;

}
.blogname{
	font-weight:900;
	font-size:0.875rem;
}
.blogbody{
	padding:0px 5px 10px 5px;
	word-break: break-all;
}
.blog{
	color: #333333;
	background: #ccc;
	margin:0;
	margin-bottom: 25px;
	border-spacing:0;
	overflow: visible;
}
.blogfooter{
	font-size:0.875rem;
	padding:0px 5px 10px 5px;
	
}
.blog-comments{
	height: 100%;
	padding: 10px;
	border-top: dashed;
}
.blog-comments ul{
	height: 100%;
	width: 100%;
	padding-top: 10px;
}
.blog-comments li{
	word-break: break-all;
	margin-bottom: 8px;
}
span.linkspan{
	cursor: pointer;
}
/*forums
.forum{
	

}
.forum tr{
	font-size:0.750rem;
	transition: all 200ms;
	-webkit-transition: all 200ms;
}
.forum tr a{
	font-size:1.125rem;
	text-decoration:none;
	font-weight:bold;
	-webkit-transition: all 200ms;
}
.forum tr td{
	padding-left:15px;
	padding-right:15px;
	height:90px;
	margin-bottom:10px;
}
.forummessage{
	vertical-align:text-top;
	border:inherit;
}
.forumsuser{
}
.forumsadmin{
	background-color:#660000;
	border-color:#900;
}
.forumsmod{
	background-color:#006;
	border-color:#099;
}
.forumsvip{
	background-color: rgba(153, 102, 0, 0.8);
	border-color:#FF0;
}
.userspost{
	background-color: #e74c3c;
	font-size:1.500rem;
	
}
div.userbar{
	width:100%;
	text-align:center;
	background-color: #000;
	font-family:Sans-Serif;
	font-style: italic;
	height:49px;
}
div.rank{
	width:140px;
	height:35px;
	border-radius: 10px;
	text-align:center;
	font-size:1.500em;
	padding-top:5px;
	color:#0F0F0F;	
}
.forumtitle{
	height:50px;
	font-size:1.500em;
	border-bottom:2px dashed;
}
*/
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input[type=file],
input[type=password]
{
	height:25px;
	padding:5px;
	margin:10px;
	background:#fff;
	border:none;
	outline:none;
	border-bottom: 1px solid;
}
input[type="text"]:disabled{
	background-color:#D0D0D0;
}
textarea
{
	margin:10px;
	background:#fff;
	border:none;
	outline:none;
	padding: 5px;
}
span.galleryImage {
    display: inline-block;
    position: relative;
    border: 0px solid #f90;
}

span.galleryImage input[type=checkbox] {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

span.galleryImage:hover input[type=checkbox],
span.galleryImage input[type=checkbox]:checked {
    top: 5%;
    left: 5%;
    opacity: 1;
    height:50%;
    width:50%;
    -webkit-transition: all 0.5s ease-in-out;
}span.galleryImage {
    display: inline-block;
    position: relative;
    border: 0px solid #f90;
}

span.galleryImage input[type=checkbox] {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
}

span.galleryImage:hover input[type=checkbox],
span.galleryImage input[type=checkbox]:checked {
    top: 5%;
    left: 5%;
    opacity: 1;
    height:40%;
    width:40%;
    -webkit-transition: all 0.5s ease-in-out;
}

.GallerySort li.ui-sortable-placeholder {
	border: 1px dashed #666;
	border-radius: 3px;
	background-color: #BBBBBB;
	width: 152px;
	height: 152px;
	float: left;
    visibility: visible !important;
}

div.embedThumb{
	background-size: 100% 100%;
	position: relative;
}

div.embedThumb img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
/*  end */
.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(33, 150, 243, 0.65);
    }
.blog-btn{
	top:-20px;
	right:120px;
	position:absolute !important;
}

/*forums*/
.forum{
	

}
.forum tr{
	font-size:0.750em;
	transition: all 200ms;
	-webkit-transition: all 200ms; /* Safari */
}
.forum tr a{
	font-size:1.125em;
	text-decoration:none;
	font-weight:bold;
	-webkit-transition: all 200ms; /* Safari */
}
.forum tr td{
	padding-left:15px;
	padding-right:15px;
	height:90px;
	margin-bottom:10px;
}
.forummessage{
	vertical-align:text-top;
	border:inherit;
}
.forumsuser{
}
.forumsadmin{
	background-color:#660000;
	border-color:#900;
}
.forumsmod{
	background-color:#006;
	border-color:#099;
}
.forumsvip{
	background-color: rgba(153, 102, 0, 0.8);
	border-color:#FF0;
}
.userspost{
	background-color: #e74c3c;
	font-size:1.500em;
	
}

div.userbar{
	width:100%;
	text-align:center;
	background-color: #000;
	font-family:Sans-Serif;
	font-style: italic;
	height:49px;
}
div.rank{
	width:140px;
	height:35px;
	border-radius: 10px;
	text-align:center;
	font-size:1.500em;
	padding-top:5px;
	color:#0F0F0F;	
}
.forumtitle{
	height:50px;
	font-size:1.500em;
	border-bottom:2px dashed;
}
/* buttons */

	input[type=submit]{background-color:#426FC5;}
	.red:hover {
	  background: #c41411 !important;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}
	.blue:hover {
	  background: #3b50ce !important;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}
	.green:hover {
	  background: #056f00 !important;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}
	input[type=submit]:hover {
	  background: #3b50ce;
	  /*box-shadow: 0 3px 1px #237bb2;*/
	}

.small
{
	height:30px !important;
	line-height:30px !important;
}
/*  end */

.lg-backdrop{
	background-color: rgba(0,0,0,0.8);
}

.staff .card {
	float:left;
}
.staff .card, .staff .card-content, .staff .card-image{
	width:200px !important;}
.staff .card-content{
	width:180px !important;}
.staff .card-reveal {
	padding:0 !important;
}
/*Calendar*/
.none{ display:none;}
.dropdown{color: #000000 ;font-size:17px;}
.calendar_section{ width:700px; margin:30px auto 0;}
.calendar_section h2{ background-color:#efefef; color:#444444; font-size:17px; text-align:center; line-height:40px; margin: 0;}
.calendar_section h2 a{ color:#F58220; float:none;}
.calendar_section .calendar_section_top{ width:100%; float:left; margin-top:20px;}
.calendar_section .calendar_section_top ul{padding:0; list-style-type:none;}
.calendar_section .calendar_section_top ul li{ float:left; display:block; width:99px; border-right:1px solid #fff;  text-align:center; font-size:14px; min-height:0; background-color:#fff; box-shadow:none; margin:0; padding:0;}
.calendar_section .calendar_section_bot{ width:100%; margin-top:20px; float:left; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
.calendar_section .calendar_section_bot ul{ margin:0; padding:0; list-style-type:none;}
.calendar_section .calendar_section_bot ul li{ float:left; width:99px; height:80px; text-align:center; border-top:1px solid #ccc; border-right:1px solid #ccc; min-height:0; background:#FFF; box-shadow:none; margin:0; padding:0; line-height: 20px;}
.calendar_section .calendar_section_bot ul li span.day-number{ margin-top:3px; float:left; margin-left:7px; text-align:center; font-weight: bold;}
.calendar_section .calendar_section_bot ul li p.cell-event-item{margin-left: 3px; float:left; text-align:left; text-overflow: clip; white-space: nowrap; font-size: 12px;}

.grey{ background-color:#DDDDDD !important;}
.light_sky{ background-color:#B9FFFF !important;}

/*========== Hover Popup ===============*/
.date_cell { cursor: pointer; cursor: hand; overflow: hidden;}
.date_cell:hover { background: #DDDDDD !important; }

.date-cell-viewevent{
	width: 100%;
	height: 100%;
}
.date_popup_wrap {
	position: absolute;
	width: 143px;
	height: 115px;
	z-index: 9999;
	top: -115px;
	left:-55px;
	background: transparent url(../images/add-new-event.png) no-repeat top left;
	color: #666 !important;
}
.events_window {
	overflow: hidden;
	overflow-y: auto;
	width: 133px;
	height: 115px;
	margin-top: 28px;
	margin-left: 25px;
}
.event_wrap {
	margin-bottom: 10px; padding-bottom: 10px;
	border-bottom: solid 1px #E4E4E7;
	font-size: 12px;
	padding: 3px;
}
.event_list {
	text-align: left;
	padding: 3px;
}
.event_list li{
	list-style-type: disc;
	border-bottom: 2px dashed #000000;
}
.event_list ul ul{
	margin-left: 1em;
}
.event_list ul ul li{
	list-style-type: square;
	border-bottom: none;
}
.event_list h2{
	text-align: center;
	padding: 3px;
}
.cal-delete-event{
	float:right;
	top:0;
	color: #039BE5;
	cursor: pointer;
}
.cal-delete-event:hover{
	text-decoration: underline;
}
.date_window {
	margin-top:20px;
	margin-bottom: 2px;
	padding: 5px;
	font-size: 16px;
	margin-left:9px;
	margin-right:14px
}
.popup_event {
	margin-bottom: 2px;
	padding: 2px;
	font-size: 16px;
	width:100%;
}
.popup_event a {color: #000000 !important;}
.packeg_box a {color: #F58220;float: right;}
div.cal-edit-btn{
	height: 30px;
	width: 30px;
	position: absolute;
	float: left;
	bottom: 0;
	right: -32px;
	border-top-left-radius: 5px;
	background-color: #FFFFFF;
	color: #0091C7;
	font-size: 20px;
	visibility: hidden;
	-webkit-transition: all 0.2s ease-in-out;
}